In [22]:
import pandas as pd
import requests
import io
    
# Downloading the csv file from what Kailin uploaded

url = "https://raw.githubusercontent.com/paulsizaire/paulsizaire.github.io/socioeconomic-panel/ACS/socioec_ECF.csv" # Make sure the url is the raw version of the file on GitHub
download = requests.get(url).content

# Reading the downloaded content and turning it into a pandas dataframe

df = pd.read_csv(io.StringIO(download.decode('utf-8')))

In [23]:
#looking at it 
len(df.FIPS.unique())

3140

In [25]:
df["FIPS"] = df.FIPS.astype(int)
df.to_csv('ACS/socioec_ECF.csv')

## Make ECF df

In [3]:
# ecf_df = df.loc[:,["ECF_ST","ECF_ST_log10","ECF_US","ECF_US_log10","ECF","ECF_log10","FIPS"]]
# ecf_df
ecf_cols = ["ECF","ECF_ST","ECF_US","FIPS"]
df["FIPS"]=df["FIPS"].astype(int).astype(str)
ecf_df = df.loc[:,ecf_cols]
ecf_df

             ECF      ECF_ST     ECF_US   FIPS
0     128.370458   25.848355  15.363654   1001
1       9.958599   25.848355  15.363654   1003
2      36.429673   25.848355  15.363654   1005
3       3.365978   25.848355  15.363654   1007
4      13.275642   25.848355  15.363654   1009
...          ...         ...        ...    ...
3135  537.508680  168.862599  15.363654  56037
3136    2.305391  168.862599  15.363654  56039
3137   95.402657  168.862599  15.363654  56041
3138   37.962847  168.862599  15.363654  56043
3139  103.388081  168.862599  15.363654  56045

[3140 rows x 4 columns]

In [4]:
ecf_df = df[ecf_cols].rename({"ECF_ST":'State','ECF_US':'National','ECF':'County'},axis=1).T.reset_index().rename({'index':'scale'},axis=1).fillna(0)
ecf_df

,scale,0,1,2,3,4,5,6,7,8,...,3130,3131,3132,3133,3134,3135,3136,3137,3138,3139
0,County,128.370458,9.958599,36.429673,3.365978,13.275642,11.977633,7.181004,15.438703,18.092282,...,57.305872,36.650459,539.998532,9.799735,811.841447,537.50868,2.305391,95.402657,37.962847,103.388081
1,State,25.848355,25.848355,25.848355,25.848355,25.848355,25.848355,25.848355,25.848355,25.848355,...,168.862599,168.862599,168.862599,168.862599,168.862599,168.862599,168.862599,168.862599,168.862599,168.862599
2,National,15.363654,15.363654,15.363654,15.363654,15.363654,15.363654,15.363654,15.363654,15.363654,...,15.363654,15.363654,15.363654,15.363654,15.363654,15.363654,15.363654,15.363654,15.363654,15.363654
3,FIPS,1001,1003,1005,1007,1009,1011,1013,1015,1017,...,56027,56029,56031,56033,56035,56037,56039,56041,56043,56045

In [5]:
ecf_df.columns=ecf_df.iloc[3]
ecf_df.drop(3,inplace=True)

In [6]:
ecf_df

3,FIPS,1001,1003,1005,1007,1009,1011,1013,1015,1017,...,56027,56029,56031,56033,56035,56037,56039,56041,56043,56045
0,County,128.370458,9.958599,36.429673,3.365978,13.275642,11.977633,7.181004,15.438703,18.092282,...,57.305872,36.650459,539.998532,9.799735,811.841447,537.50868,2.305391,95.402657,37.962847,103.388081
1,State,25.848355,25.848355,25.848355,25.848355,25.848355,25.848355,25.848355,25.848355,25.848355,...,168.862599,168.862599,168.862599,168.862599,168.862599,168.862599,168.862599,168.862599,168.862599,168.862599
2,National,15.363654,15.363654,15.363654,15.363654,15.363654,15.363654,15.363654,15.363654,15.363654,...,15.363654,15.363654,15.363654,15.363654,15.363654,15.363654,15.363654,15.363654,15.363654,15.363654

In [7]:
ecf_df.iloc[:,1:] = ecf_df.iloc[:,1:].astype(int)

/var/folders/d2/m883jtg90djc2d9b2sq68hp80000gn/T/ipykernel_5733/1761017653.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ecf_df.iloc[:,1:] = ecf_df.iloc[:,1:].astype(int)

In [8]:
ecf_df

3,FIPS,1001,1003,1005,1007,1009,1011,1013,1015,1017,...,56027,56029,56031,56033,56035,56037,56039,56041,56043,56045
0,County,128,9,36,3,13,11,7,15,18,...,57,36,539,9,811,537,2,95,37,103
1,State,25,25,25,25,25,25,25,25,25,...,168,168,168,168,168,168,168,168,168,168
2,National,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15

In [9]:
ecf_df.to_csv('ACS/ecf.csv')

## Make employment df

In [10]:
employment_cols = [col for col in df.columns if ('EMP_' in col) & ('PERCENT' in col)]
employment_cols.append("FIPS")
df["FIPS"]=df["FIPS"].astype(int).astype(str)
employment_df = df[employment_cols].fillna(0)

employment_df

,EMP_AG_PERCENT,EMP_CN_PERCENT,EMP_COMM_PERCENT,EMP_MF_PERCENT,EMP_MN_REST_PERCENT,EMP_PWR_PERCENT,EMP_OG_PERCENT,EMP_COAL_PERCENT,FIPS
0,0.937379,4.254886,63.959815,12.448801,0.672468,1.203742,0.000000,0.000000,1001
1,0.940795,5.424238,73.511415,5.435282,0.100085,0.000000,0.000000,0.000000,1003
2,2.130777,1.793165,44.280239,30.451954,1.965156,0.000000,0.000000,0.000000,1005
3,2.917933,18.486322,52.844985,7.987842,0.000000,0.000000,0.000000,0.000000,1007
4,0.742438,5.617586,60.482585,13.798904,0.000000,0.000000,0.000000,0.000000,1009
...,...,...,...,...,...,...,...,...,...
3135,0.033852,7.372887,48.064815,6.263682,16.520728,1.241854,1.934057,2.306425,56037
3136,0.407648,10.258538,72.211400,0.705868,0.000000,0.004810,0.014430,0.000000,56039
3137,0.356700,9.410235,59.865179,3.352377,3.579094,0.000000,0.565279,0.000000,56041
3138,3.510825,7.175249,44.960503,12.222060,1.733470,0.000000,0.760679,0.000000,56043
3139,1.714023,7.051651,55.343380,6.257909,5.774761,0.000000,0.678707,0.000000,56045

In [11]:
employment_df = df[employment_cols].T.reset_index().rename({'index':'industry'},axis=1).fillna(0)

In [12]:
employment_df

,industry,0,1,2,3,4,5,6,7,8,...,3130,3131,3132,3133,3134,3135,3136,3137,3138,3139
0,EMP_AG_PERCENT,0.937379,0.940795,2.130777,2.917933,0.742438,13.180818,3.056653,0.38804,2.575518,...,2.115942,2.560372,3.297501,2.238836,2.708675,0.033852,0.407648,0.3567,3.510825,1.714023
1,EMP_CN_PERCENT,4.254886,5.424238,1.793165,18.486322,5.617586,1.469424,3.42556,2.429605,2.3096,...,3.942029,7.909999,6.863742,9.37201,10.771562,7.372887,10.258538,9.410235,7.175249,7.051651
2,EMP_COMM_PERCENT,63.959815,73.511415,44.280239,52.844985,60.482585,35.697316,53.653303,66.534625,52.149751,...,62.463768,60.407332,44.792272,57.234848,44.967799,48.064815,72.2114,59.865179,44.960503,55.34338
3,EMP_MF_PERCENT,12.448801,5.435282,30.451954,7.987842,13.798904,29.256489,20.685112,15.889135,26.128656,...,0,4.356512,2.157176,3.245614,0.890264,6.263682,0.705868,3.352377,12.22206,6.257909
4,EMP_MN_REST_PERCENT,0.672468,0.100085,1.965156,0,0,0.0,0.0,0,0.0,...,2.347826,2.282999,2.026438,0.289075,11.125142,16.520728,0,3.579094,1.73347,5.774761
5,EMP_PWR_PERCENT,1.203742,0.0,0.0,0.0,0.0,0.0,0.0,0.132089,0.0,...,0.0,0.0,8.875706,0.023523,0.0,1.241854,0.00481,0.0,0.0,0.0
6,EMP_OG_PERCENT,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.043478,0.737077,0.0,1.937799,7.324157,1.934057,0.01443,0.565279,0.760679,0.678707
7,EMP_COAL_PERCENT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.306425,0.0,0,0.0,0.0
8,FIPS,1001,1003,1005,1007,1009,1011,1013,1015,1017,...,56027,56029,56031,56033,56035,56037,56039,56041,56043,56045

In [13]:
employment_df.columns=employment_df.iloc[8]
employment_df.drop(8,inplace=True)

In [14]:
#check these
employment_df["FIPS"] = ['Agriculture','Construction','Commercial','Manufacturing','Mining','Power','Oil and Gas','Coal']
employment_df

8,FIPS,1001,1003,1005,1007,1009,1011,1013,1015,1017,...,56027,56029,56031,56033,56035,56037,56039,56041,56043,56045
0,Agriculture,0.937379,0.940795,2.130777,2.917933,0.742438,13.180818,3.056653,0.38804,2.575518,...,2.115942,2.560372,3.297501,2.238836,2.708675,0.033852,0.407648,0.3567,3.510825,1.714023
1,Construction,4.254886,5.424238,1.793165,18.486322,5.617586,1.469424,3.42556,2.429605,2.3096,...,3.942029,7.909999,6.863742,9.37201,10.771562,7.372887,10.258538,9.410235,7.175249,7.051651
2,Commercial,63.959815,73.511415,44.280239,52.844985,60.482585,35.697316,53.653303,66.534625,52.149751,...,62.463768,60.407332,44.792272,57.234848,44.967799,48.064815,72.2114,59.865179,44.960503,55.34338
3,Manufacturing,12.448801,5.435282,30.451954,7.987842,13.798904,29.256489,20.685112,15.889135,26.128656,...,0,4.356512,2.157176,3.245614,0.890264,6.263682,0.705868,3.352377,12.22206,6.257909
4,Mining,0.672468,0.100085,1.965156,0,0,0.0,0.0,0,0.0,...,2.347826,2.282999,2.026438,0.289075,11.125142,16.520728,0,3.579094,1.73347,5.774761
5,Power,1.203742,0.0,0.0,0.0,0.0,0.0,0.0,0.132089,0.0,...,0.0,0.0,8.875706,0.023523,0.0,1.241854,0.00481,0.0,0.0,0.0
6,Oil and Gas,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.043478,0.737077,0.0,1.937799,7.324157,1.934057,0.01443,0.565279,0.760679,0.678707
7,Coal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.306425,0.0,0,0.0,0.0

In [15]:
employment_df.to_csv("ACS/employment.csv")

## Make emissions df

In [16]:
# take only the columns with "TONCO2E"
emissions_cols = [col for col in df.columns if 'TONCO2E_' in col]
emissions_cols.append("FIPS")
df[emissions_cols]

,TONCO2E_AG_PERCENT,TONCO2E_CN_PERCENT,TONCO2E_COMM_PERCENT,TONCO2E_MF_PERCENT,TONCO2E_MN_REST_PERCENT,TONCO2E_PWR_PERCENT,TONCO2E_OG_PERCENT,TONCO2E_COAL_PERCENT,FIPS
0,0.393718,0.530985,2.460606,54.825715,0.169877,41.619100,0.000000,0.000000,1001
1,2.346790,6.949035,48.011126,32.104248,0.482742,0.000000,10.106060,0.000000,1003
2,4.442345,1.268463,8.028706,43.296743,42.963743,0.000000,0.000000,0.000000,1005
3,25.759659,21.771010,27.133636,8.359882,16.975813,0.000000,0.000000,0.000000,1007
4,34.159956,8.581610,32.259530,24.075403,0.923502,0.000000,0.000000,0.000000,1009
...,...,...,...,...,...,...,...,...,...
3135,0.047573,0.114289,0.175027,7.497172,54.646522,24.126708,11.123293,2.269416,56037
3136,6.701101,34.210390,43.641403,8.443043,0.866234,0.062608,6.075221,0.000000,56039
3137,1.197628,1.042005,1.880693,16.008788,0.516944,0.000000,78.855612,0.498330,56041
3138,10.492089,4.185477,2.874462,42.231148,11.526578,0.000000,28.690247,0.000000,56043
3139,4.161137,1.224335,1.594365,62.321807,5.303358,0.000000,25.394998,0.000000,56045

In [17]:
df["FIPS"]=df["FIPS"].astype(int).astype(str)

In [18]:
emissions_df = df[emissions_cols].T.reset_index().rename({'index':'industry'},axis=1).fillna(0)
emissions_df

,industry,0,1,2,3,4,5,6,7,8,...,3130,3131,3132,3133,3134,3135,3136,3137,3138,3139
0,TONCO2E_AG_PERCENT,0.393718,2.34679,4.442345,25.759659,34.159956,13.154011,25.92593,2.04985,2.47878,...,19.847576,5.47077,0.771499,25.712467,0.283967,0.047573,6.701101,1.197628,10.492089,4.161137
1,TONCO2E_CN_PERCENT,0.530985,6.949035,1.268463,21.77101,8.58161,1.979818,6.275691,2.319868,2.854169,...,3.309417,3.301943,0.221877,12.980206,0.245333,0.114289,34.21039,1.042005,4.185477,1.224335
2,TONCO2E_COMM_PERCENT,2.460606,48.011126,8.028706,27.133636,32.25953,7.448334,29.416298,18.296579,14.690719,...,4.270709,3.597943,0.227764,24.389327,0.035837,0.175027,43.641403,1.880693,2.874462,1.594365
3,TONCO2E_MF_PERCENT,54.825715,32.104248,43.296743,8.359882,24.075403,77.417836,38.382081,72.000479,79.976333,...,0.105463,14.296371,0.067109,5.621257,0.059716,7.497172,8.443043,16.008788,42.231148,62.321807
4,TONCO2E_MN_REST_PERCENT,0.169877,0.482742,42.963743,16.975813,0.923502,0.0,0.0,0.784423,0.0,...,0.412402,0.798802,0.03945,3.305254,0.255102,54.646522,0.866234,0.516944,11.526578,5.303358
5,TONCO2E_PWR_PERCENT,41.6191,0.0,0.0,0.0,0.0,0.0,0.0,4.548801,0.0,...,0.0,0.0,98.672301,0.028675,0.0,24.126708,0.062608,0.0,0.0,0.0
6,TONCO2E_OG_PERCENT,0.0,10.10606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,72.054433,72.534172,0.0,27.962814,99.120045,11.123293,6.075221,78.855612,28.690247,25.394998
7,TONCO2E_COAL_PERCENT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.269416,0.0,0.49833,0.0,0.0
8,FIPS,1001,1003,1005,1007,1009,1011,1013,1015,1017,...,56027,56029,56031,56033,56035,56037,56039,56041,56043,56045

In [19]:
emissions_df.columns=emissions_df.iloc[8]
emissions_df.drop(8,inplace=True)

In [20]:
#check these
emissions_df["FIPS"] = ['Agriculture','Construction','Commercial','Manufacturing','Mining','Power','Oil and Gas','Coal']
emissions_df

8,FIPS,1001,1003,1005,1007,1009,1011,1013,1015,1017,...,56027,56029,56031,56033,56035,56037,56039,56041,56043,56045
0,Agriculture,0.393718,2.34679,4.442345,25.759659,34.159956,13.154011,25.92593,2.04985,2.47878,...,19.847576,5.47077,0.771499,25.712467,0.283967,0.047573,6.701101,1.197628,10.492089,4.161137
1,Construction,0.530985,6.949035,1.268463,21.77101,8.58161,1.979818,6.275691,2.319868,2.854169,...,3.309417,3.301943,0.221877,12.980206,0.245333,0.114289,34.21039,1.042005,4.185477,1.224335
2,Commercial,2.460606,48.011126,8.028706,27.133636,32.25953,7.448334,29.416298,18.296579,14.690719,...,4.270709,3.597943,0.227764,24.389327,0.035837,0.175027,43.641403,1.880693,2.874462,1.594365
3,Manufacturing,54.825715,32.104248,43.296743,8.359882,24.075403,77.417836,38.382081,72.000479,79.976333,...,0.105463,14.296371,0.067109,5.621257,0.059716,7.497172,8.443043,16.008788,42.231148,62.321807
4,Mining,0.169877,0.482742,42.963743,16.975813,0.923502,0.0,0.0,0.784423,0.0,...,0.412402,0.798802,0.03945,3.305254,0.255102,54.646522,0.866234,0.516944,11.526578,5.303358
5,Power,41.6191,0.0,0.0,0.0,0.0,0.0,0.0,4.548801,0.0,...,0.0,0.0,98.672301,0.028675,0.0,24.126708,0.062608,0.0,0.0,0.0
6,Oil and Gas,0.0,10.10606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,72.054433,72.534172,0.0,27.962814,99.120045,11.123293,6.075221,78.855612,28.690247,25.394998
7,Coal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.269416,0.0,0.49833,0.0,0.0

In [21]:
emissions_df.to_csv("ACS/emissions.csv")